body{
  background: black;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#GameBoard {
  width: 1000px;
  height: 800px;
  background-color: blue;
}
.row {
  height: 50px;
  padding: 50px 0;
}

.Astroid0 {
  height: 61px;
  width: 94px;
  background-image: url('rock1.png');
  background-repeat: no-repeat;
  position: relative;
}

.Astroid1 {
  height: 36px;
  width: 39px;
  background-image: url('rock2.png');
  background-repeat: no-repeat;
  position: relative;
}
