body{
  background-image: url('/css/spaceBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#GameBoard {
  width: 1000px;
  height: 800px;
}

#ship {
  width: 70px;
  height: 83px;
  background-image: url('ship.png');
  position: relative;
}
.row {
  align-content: space-between;
  height: 100px;
}

.startrow {
  height: 100px;
}

.landingrow {
  height: 80px;
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.landing {
  width: 80px;
  height: 80px;
  background-image: url('landing.png');
  background-repeat: no-repeat;
}

.Astroid0 {
  height: 61px;
  width: 94px;
  margin-bottom: -51px;
  background-image: url('rock1.png');
  background-repeat: no-repeat;
  position: relative;
}

.Astroid1 {
  height: 36px;
  width: 39px;
  margin-bottom: -25px;
  background-image: url('rock2.png');
  background-repeat: no-repeat;
  position: relative;
}
