body{
  background-image: url('/css/spaceBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#GameBoard {
  width: 1000px;
  height: 800px;
  background-color: RGBA(36, 70, 81, .9);
  border: 10px solid RGBA(24, 43, 62, 1);
}

#ship {
  width: 100px;
  height: 100px;
  background-image: url('ship.png');
  position: relative;
}
.row {
  height: 50px;
  padding: 50px 0;
}

.startrow {
  height: 50px;
  padding: 50px 0;
}

.landingrow {
  height: 50px;
  padding: 50px 0 0;
  display: flex;
  justify-content: space-between;
}

.landing {
  width: 130px;
  height: 130px;
  background-image: url('landing.png');
  background-repeat: no-repeat;
}

.Astroid0 {
  height: 61px;
  width: 94px;
  background-image: url('rock1.png');
  background-repeat: no-repeat;
  position: relative;
}

.Astroid1 {
  height: 36px;
  width: 39px;
  background-image: url('rock2.png');
  background-repeat: no-repeat;
  position: relative;
}

.Astroid2 {
  height: 64px;
  width: 164px;
  background-image: url('rock3.png');
  background-repeat: no-repeat;
  position: relative;
}
